<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand pad-2 mrg-0" href="">
                    <img src="~/Content/img/logo.png" alt="Artistic Event Management System" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
    @if (@ViewBag.LoginSuccessfull  == true)
                    {
                        
                        <li>@Html.ActionLink("Comanda", "Index", "Home")</li>
                        
                        if (@ViewBag.IsAdmin == true)
                        {
                            <li>@Html.ActionLink("Administrare", "Index", "Admin")</li>
                        }
                    }
                    <li>@Html.ActionLink("Despre", "About", "Home")</li>

                    @if (@ViewBag.LoginSuccessfull == true)
                    {
                        string logOutText = string.Format("Log out {0}", @ViewBag.UserName);
                        <li>@Html.ActionLink(logOutText, "LogOut", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log in", "LoginPage", "Home")</li>
                    }
                </ul>

            </div>
        </div>
    </nav>
</div>