<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Artistic Event Management Tool</title>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap3/less/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome4/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.css" rel="stylesheet" />

</head>
<body>
    <header>
        @{ Html.RenderPartial("~/Views/Partials/_NavigationBar.cshtml"); }
        <div class="container">
            <h1 class="text-center text-danger mrg-top6 mrg-down6 pad-top6 pad-down6">Artistic Event Management Tool</h1>
        </div>
       
    </header>

    <div id="body">@RenderBody()</div>


    @*<footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Alin Bumbes gr 332</p>
            </div>
        </footer>*@

    @* *********** URL FORMATER ************ *@
    <script type="text/javascript">
        urlFormater = function (url) {
            var path = '@(Request.ApplicationPath)';

            if (path != '/')
                path = path + '/';

            return path + url;
        };
    </script>

    <script src="~/Scripts/Dependencies/jquery.min.js"></script>
    <script src="~/Scripts/Dependencies/bootstrap.min.js"></script>
    <script src="~/Scripts/Dependencies/jquery-ui.js"></script>
    <script src="~/Scripts/Dependencies/toastr.js"></script>
    <script src="~/Scripts/Dependencies/knockout.min.js"></script>
    <script src="~/Scripts/Dependencies/knockout.validation.js"></script>
    <script src="~/Scripts/Dependencies/sugar.js"></script>

    <script src="~/Scripts/_appConfig.js"></script>
    <script src="~/Scripts/Shared/constants.js"></script>
    <script src="~/Scripts/Shared/common.js"></script>
    <script src="~/Scripts/Shared/server.js"></script>
    <script src="~/Scripts/Shared/crudAndFilter.js"></script>
    <script src="~/Scripts/Shared/entitiesPaginator.js"></script>
    <script src="~/Scripts/Shared/fixIt.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
